*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--color-primary-dark);
    background: var(--color-primary-light);
    // background-image: url(../images/advantages-bg.png);
    // background-repeat: no-repeat;
    // background-position-x: center;
    // background-position-y: 60%;
    // background-size: 100%;
    margin: 0;
    padding: 0;
        max-width: 100%;
            overflow-x: hidden;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

input {
    outline: none;
    padding: 0;
    border: none;
}