:root {
    --color-primary-dark: #011C44;
    --color-primary-light: #ffffff;
    --color-brand: #2B7FFF;
    --color-hero-text: #4A4A4A;
    --color-advantages-text: #000000;
    --color-copy-text: #747272;
}

$bp-mini-mobile: 360px;
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-sub-tablet: 1100px;
$bp-desktop: 1280px;