.footer {
    position: relative;
    padding: 56px 0;
    background: var(--color-primary-dark);
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer__img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer__wrapper {
    display: flex;
    gap: 186px;
}

.footer__left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer__nav {
    width: 203px;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__nav-link {
    color: var(--color-primary-light);
    font-size: 16px;
    line-height: 1.18;
    transition: color 0.5s;
}

.footer__nav-link:hover {
    color: var(--color-brand);
}

.footer__right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer__address {
    font-style: normal;
    width: 203px;
}

.footer__address-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__address-item-social {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    line-height: 1.18;
    transition: color 0.5s;
}

.footer__address-link:hover {
    color: var(--color-brand);
}

.footer__icons {
    fill: var(--color-primary-light);
    transition: fill 0.5s;
}

.footer__icons:hover {
    fill: var(--color-brand);
}

.footer__policy-copy-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__policy {
    color: var(--color-primary-light);
    font-size: 16px;
    line-height: 1.18;
}

.footer__copy {
    color: var(--color-copy-text);
    font-size: 13px;
    line-height: 1.15;
}

@media (max-width: $bp-sub-tablet) {

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .footer__left {
        width: 100%;
    }

    .footer__right {
        width: 100%;
    }
    
}

@media (max-width: $bp-tablet) {

    .footer {
        padding: 32px 0 66px 0;
    }

    .footer__img {
        display: none;
    }

    .footer__wrapper {
        gap: 16px;
    }

    .footer__left {
        flex-direction: column;
        align-items: center;
        gap: 42px;
    }

    .footer__nav-list {
        align-items: center;
    }

    .footer__right {
        flex-direction: column;
        align-items: center;
    }

    .footer__address-item {
        display: none;
    }

    .footer__address-list {
        align-items: center;
    }

    .footer__policy-copy-box {
        align-items: center;
    }

}