.section-title {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.15;
}

.section-title span {
    color: var(--color-brand);
}

@media (max-width: $bp-tablet) {

    .section-title {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.18;
    }

}